.finish-slider {
	position: fixed;
	//z-index: 10;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: translateX(0);

	transition: transform 1.5*$base-td 3*$base-td $ease-in-out-quart;

	&__single {
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		@include indentation(padding);

		.container {
			position: absolute;
			@include align(c,c);
			width: 83.33%;
			top: 45%;

			&.form {
				width: 41.66%;

				@media only screen and (max-width: 450px) {
					width: 83.33%;
				}

				@media only screen and (min-width: 451px) and (max-width: 1200px) {
					width: 50%;
				}
			}

			@media only screen and (max-width: 450px) {
				width: 83.33%;
			}

			@media only screen and (min-width: 451px) and (max-width: 1200px) {
				width: 83.33%;
			}
		}

		&.estimate {
			width: 83.33%;
		}

		&__radio {
			display: none;
		}

		&__label {
			cursor: pointer;
			position: relative;
			box-sizing: border-box;
			display: block;
			float: left;
			height: 33vh;
			width: 26.66%;
			margin-right: 10%;
			border: 2px solid $color-brand;
			color: $color-brand;
			font-size: .66rem;
			font-weight: 800;
			text-align: center;

			transition: color $base-td;

			@media only screen and (max-width: 767px) {
				width: 100%;
				height: 2rem;
				margin: .25rem 0;
				font-size: .42rem;
				//padding: 1rem 0;
			}

			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background-color: $color-brand;

				transition: width $base-td $ease-in-out-quart;
			}

			&:hover {
				color: $color-light;

				&::after {
					width: 100%;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			&__content {
				position: absolute;
				@include align(c,c);
			}
		}

		&.service {
			.finish-slider__single__label {
				width: 45%;

				@media only screen and (max-width: 767px) {
					width: 100%;
					height: 3rem;
					margin: .25rem 0;
					font-size: .5rem;
				}
			}
		}
	}
}

// Animation element styles

.finish-slider__single__label::before {
	content: "";
	position: absolute;
	z-index: 20;
	left: -3px;
	top: -3px;
	bottom: -3px;
	width: 0;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td 4.5*$base-td $ease-in-out-quart;
}

.finish-slider__single::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td 1.5*$base-td $ease-in-out-quart;
}

// State styles

.finish-slider.is-hidden {
	transform: translateX(100%);
	pointer-events: none;

	.finish-slider__single__label::before {
		width: calc(100% + 6px);
		transition: width 1.5*$base-td $ease-in-out-quart;
	}
}