.footer__pages-status {
	color: $color-medium;
	font-weight: 800;
	text-transform: uppercase;
	user-select: none;
	padding-left: 0;
	opacity: 1;

	transition: all 1.5*$base-td 4*$base-td $ease-in-out-quart;
}

// State styles

.footer__pages-status.is-hidden {
	pointer-events: none;
	opacity: 0;
	padding-left: 5rem;
	transition: all 1.5*$base-td $ease-in-out-quart;
}