.footer__prev-button {
	color: $color-medium;
	font-weight: 800;
	text-transform: uppercase;
	user-select: none;
}

.footer__prev-button {
	cursor: pointer;
	padding-left: 0;
	transition: all 1.5*$base-td 3*$base-td $ease-in-out-quart, color $base-td;
}

// Hover styles

.footer__prev-button:hover {
	color: $color-brand;
}

// State styles

.footer__prev-button.is-hidden {
	pointer-events: none;
	opacity: 0;
	padding-left: 8rem;

	transition: all 1.5*$base-td $base-td $ease-in-out-quart;
}