.footer__discount {
	padding: .83rem;
	box-sizing: border-box;
	color: $color-light;
	background-color: $color-dark;
	transform: translateX(0);
	transition: all 1.5*$base-td 3*$base-td $ease-in-out-quart;

	&__info,
	&__icon {
		opacity: 1;
		transition: opacity 1.5*$base-td 3*$base-td $ease-in-out-quart;
	}

	&__info {
		box-sizing: border-box;
		white-space: nowrap;
		float: left;
		width: 58.33%;
		text-align: right;
		text-transform: uppercase;
		font-weight: 800;

		@media only screen and (max-width: 450px) {
			width: 100%;
		}

		&__cost {
			font-size: 1rem;
		}

		&__title {
			font-size: .33rem;
		}
	}

	&__icon {
		position: relative;
		float: left;
		width: 41.66%;
		height: 1.63rem;

		@media only screen and (max-width: 450px) {
			display: none;
		}

		span {
			position: absolute;
			@include align(c,c);
			font-size: 1.18rem;
		}
	}
}

// Animation element styles

.footer__discount::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td 4*$base-td $ease-in-out-quart;
}

// Shadow

.footer__discount::before {
	content: "";
	position: absolute;
	z-index: -5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: $shadow-1;
	opacity: 1;

	transition: 1.5*$base-td 3*$base-td $ease-in-out-quart;
}

// State styles

.footer__discount.is-hidden {
	pointer-events: none;
	transform: translateX(100%);
	transition: all 1.5*$base-td 1.5*$base-td $ease-in-out-quart;

	&::after {
		width: 100%;
		transition: all 1.5*$base-td $ease-in-out-quart;
	}

	&::before {
		opacity: 0;
		transition: all 1.5*$base-td 1.5*$base-td $ease-in-out-quart;
	}

	.footer__discount__info,
	.footer__discount__icon {
		opacity: 0;
		transition: opacity 1.5*$base-td $ease-in-out-quart;
	}
}

.footer__discount.is-finish {
	right: 50%;
	transform: translateX(50%);

	@media only screen and (max-width: 1200px) {
		right: 0;
		transform: translateX(0);
	}
}