.footer__contact-button,
.footer__share-button {
	display: inline-block;
	cursor: pointer;

	transition: all 1.5*$base-td 1.5*$base-td $ease-in-out-quart;

	a {
		float: left;
	}

	&__item {
		position: relative;
		float: left;
		width: $contact-button-size;
		height: $contact-button-size;
		background-color: $color-dark;
		color: $color-light;
		font-size: .33rem;

		transition: color $base-td $ease-in-out-quart;

		[class^="icon-"] {
			position: absolute;
			@include align(c,c);
			z-index: 10;

			&::before {
				color: $color-light;

				transition: color $base-td $ease-in-out-quart;
			}
		}
	}
}

.footer__share-button {
	transition: all 1.5*$base-td 3*$base-td $ease-in-out-quart;
}

// Animation element styles

.footer__contact-button::after,
.footer__share-button::after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td 3*$base-td $ease-in-out-quart;
}

.footer__share-button::after {
	transition: all 1.5*$base-td 4.5*$base-td $ease-in-out-quart;
}

.footer__contact-button__item::after,
.footer__share-button__item::after {
	content: "";
	position: absolute;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: $color-brand;

	transition: width $base-td $ease-in-out-quart;
}

// Shadow

.footer__contact-button::before,
.footer__share-button::before {
	content: "";
	position: absolute;
	z-index: -5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: $shadow-1;
	opacity: 1;
	transition: 1.5*$base-td 3*$base-td $ease-in-out-quart;
}

.footer__share-button::before {
	transition: 1.5*$base-td 3*$base-td $ease-in-out-quart;

	@media only screen and (max-width: 1200px) {
		box-shadow: $shadow-0;
	}

	@media only screen and (min-width: 1201px) {
		box-shadow: $shadow-1;
	}
}

// Hover styles

.footer__contact-button__item:hover,
.footer__share-button__item:hover {
	color: $color-dark;

	&::after {
		width: 100%;
	}

	[class^="icon-facebook"]::before {
		color: #3b5999;
	}

	[class^="icon-twitter"]::before {
		color: #55acee;
	}

	[class^="icon-odnoklassniki"]::before {
		color: #ed812b;
	}
}

// State styles

.footer__contact-button.is-hidden,
.footer__share-button.is-hidden {
	pointer-events: none;
	transform: translateX(-100%);
	transition: all 1.5*$base-td 1.5*$base-td $ease-in-out-quart;

	&::after {
		width: 100%;

		transition: width 1.5*$base-td $ease-in-out-quart;
	}

	&::before {
		opacity: 0;
	}
}

.footer__share-button.is-hidden {
	transform: translateX(100%);
}