.foreman-slider {
	height: 100%;
	overflow: hidden;
	background-color: $color-brand;

	transition: transform 1.5*$base-td 1.5*$base-td $ease-in-out-quart;

	&__single {
		overflow: hidden;
		position: relative;
		height: 100%;
		width: 100%;

		img {
			position: absolute;
			right: 50%;
			top: 25%;
			width: auto;
		}
	}
}

// Animation element styles

.foreman-slider::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td $ease-in-out-quart;
}

// State styles

.foreman-slider.is-hidden {
	transform: translateX(100%);

	&::after {
		width: 100%;
	}
}