.header__logo {
	user-select: none;
	pointer-events: auto;
	cursor: pointer;
	outline: none;
	font-size: .66rem;
	font-weight: 800;
	color: $color-brand;

	transition: transform 1.5*$base-td 1.5*$base-td $ease-in-out-quart,
							left 1.5*$base-td 1.5*$base-td $ease-in-out-quart;
}