.question-slider {
	position: relative;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/header-bg.jpg');
}