.question-slides__single {
	pointer-events: auto;
	box-sizing: border-box;
	position: relative;
	@include indentation(padding-left);
	@include indentation(padding-right);

	&.question {
		background-color: rgba($color: #000, $alpha: .80);
	}

	&.header {
		background-color: rgba($color: #fff, $alpha: .90);
	}
}

// Animation element styles

.question-slides__single::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: $color-anim-elem;

	transition: width 1.5*$base-td 1.5*$base-td $ease-in-out-quart;
}

// State styles

.question-slides__single.is-left {
	&::after {
		right: 0;
	}
}

.question-slides__single.is-right {
	&::after {
		left: 0;
	}
}

.question-slides__single.slick-active {
	&::after {
		width: 0;
	}
}

.question-slides__single.slick-active.last {
	&::after {
		width: 100%;
	}
}