// Background style for question slider

.question-slider__bg {
	transition: background-color $base-td $base-td $ease-in-out-quart;;

	&__single {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 1;
		transition: opacity 1.5*$base-td $ease-in-out-quart;
		z-index: 50;

		// Different variants background

		&.flat {
			background-image: url('../img/room-type/flat.jpeg');
		}

		&.house {
			background-image: url('../img/room-type/house.jpeg');
		}

		&.office {
			background-image: url('../img/room-type/office.jpeg');
		}
	}
}

// State styles

.question-slider__bg__single.is-hidden {
	opacity: 0;
	z-index: -1;
}


.question-slider__bg.is-finish {
	background-color: rgba($color: #fff, $alpha: .8);
}