.resize-cover {
	user-select: none;
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 800;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	background-color: $color-dark;

	transition: all $base-td;

	&__title {
		position: absolute;
		@include align(c,c);
		color: $color-light;
	}
}

// State styles

.resize-cover.is-visible {
	pointer-events: auto;
	opacity: 1;
}