.question-slides__single__button,
.finish-slider__single__button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	user-select: none;
	height: 1.1rem;
	background-color: $color-dark;
	color: $color-brand;
	padding: 0 .5rem;
	transition: all $base-td $ease-in-out-quart;

	&__text, span {
		position: relative;
		z-index: 50;
		font-weight: 800;
		line-height: 1.1rem;
		text-transform: uppercase;
	}

	&__text {
		float: left;
		font-size: .28rem;
	}

	&__icon {
		float: left;
		font-size: .28rem;
		margin-left: 1.25rem;
		width: .28rem;
		overflow: hidden;

		span {
			margin-left: -.56rem;
			transition: all $base-td $ease-in-out-quart;
			color: $color-dark;

			&::after {
				margin-left: .28rem;
				color: $color-brand;
			}
		}
	}
}

.finish-slider__single__button {
	width: 100%;
	padding: 0 1rem;

	&__icon {
		float: right;
	}
}

// Animation element styles

.question-slides__single__button::after,
.finish-slider__single__button::after {
	content: "";
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 0;
	width: 0;
	background-color: $color-brand;

	transition: width $base-td $ease-in-out-quart;
}

// Different variants icon

.question-slides__single__button.arrow {
	.question-slides__single__button__icon {
		span::after {
			content: "\e5c8";
		}
	}
}

.question-slides__single__button.send,
.finish-slider__single__button.send {
	.question-slides__single__button__icon {
		span::after {
			content: "\e159";
		}
	}
	.finish-slider__single__button__icon {
		span::after {
			content: "\e159";
		}
	}
}

.finish-slider__single__button.send.success {
	pointer-events: none;
	cursor: pointer;

	.finish-slider__single__button__icon {
		span::after {
			content: "\e877";
		}
	}
}

.finish-slider__single__button.buy {
	float: left;
	width: 49%;
	margin-right: 2%;

	@media only screen and (max-width: 767px) {
		width: 100%;
		margin: 0;
		margin-top: 1rem;
	}

	.finish-slider__single__button__icon {
		span::after {
			content: "\e8cb";
		}
	}
}

.finish-slider__single__button.download {
	float: left;
	width: 49%;

	@media only screen and (max-width: 767px) {
		width: 100%;
		margin: 0;
		margin-top: .66rem;
	}

	.finish-slider__single__button__icon {
		span::after {
			content: "\e884";
		}
	}
}

// Hover styles

.question-slides__single__button:hover {
	color: $color-dark;

	// Icon animation

	.question-slides__single__button__icon {
		span {
			margin-left: 0;
		}
	}

	// BG animation

	&::after {
		width: 100%;
	}
}

.finish-slider__single__button:hover {
	color: $color-dark;

	// Icon animation

	.finish-slider__single__button__icon {
		span {
			margin-left: 0;
		}
	}

	// BG animation

	&::after {
		width: 100%;
	}
}