.question-slides__single__title,
.finish-slider__single__title {
	color: $color-dark;
	font-size: .83rem;
	font-weight: 800;
	//padding-bottom: .18rem;
}

.question-slides__single.question {
	.question-slides__single__title {
		color: $color-light;
	}
}

.question-slides__single__subtitle {
	font-size: .5rem;
	font-weight: 800;
	padding-bottom: .25rem;
}

.finish-slider__single__subtitle {
	font-size: .36rem;
	font-weight: 300;
	margin-bottom: .75rem;
}

.finish-slider__single__title {
	margin-bottom: .33rem;
}

.finish-slider__single__title,
.finish-slider__single__subtitle {
	text-align: center;
}

.finish-slider__single.question {
	.finish-slider__single__title {
		margin-bottom: 1rem;
	}
}