.question-slides__single__input,
.finish-slider__single__input {
	position: relative;
	height: 1.1rem;

	input {
		float: left;
		box-sizing: border-box;
		border: 2px solid $color-brand;
		background-color: rgba($color: #000, $alpha: 0);
		color: $color-brand;
		font-size: .42rem;
		font-weight: 800;
		outline: none;
		height: 100%;
		width: 100%;
		padding: 0 .5rem;
		margin: 0;
		-webkit-text-fill-color: $color-brand;
		transition: border $base-td;
	}

	&__next {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 1.1rem;
		width: 1.1rem;
		color: $color-brand;
		font-family: 'icomoon' !important;
		font-size: .42rem;
		line-height: 1.1rem;
		text-align: center;

		transition: color $base-td $ease-in-out-quart;

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			bottom: 0;
			height: 1.1rem;
			width: 0;
			background-color: $color-brand;

			transition: width $base-td $ease-in-out-quart;
		}
	}

	.error-dialog {
		font-size: .33rem;
		line-height: 1.1rem;
		color: #ef5350;
		transition: all .25s;
		opacity: 0;
		transition: opacity $base-td;

		&.has-error {
			opacity: 1;
		}
	}

	.error-dialog-form {
		font-size: .33rem;
		line-height: .5rem;
		color: #ef5350;
		transition: all .25s;
		opacity: 0;
		transition: opacity $base-td;

		&.has-error {
			opacity: 1;
		}
	}
}

.finish-slider__single__input {
	height: 1rem;

	input {
		text-align: center;
		font-size: .33rem;
	}

	text-align: center;
	margin-bottom: .66rem;
}

// Hover styles

.question-slides__single__input__next:hover {
	color: $color-dark;

	&::after {
		width: 100%;
	}
}