.question-slides__single__radio + label {
	display: block;
	cursor: pointer;
	margin: .25rem 0;
	font-size: .42rem;
	font-weight: 800;
	color: $color-brand;
	text-transform: uppercase;
	transition: opacity .5s;

	&::after {
		content: "\e5c8";
		font-family: 'icomoon' !important;
		font-size: .42rem;
		margin-left: .15rem;
		opacity: 0;
		transition: all .5s;
	}
}

.question-slides__single__radio {
	display: none;
}

// Hover styles

.question-slides__single__radio + label:hover {
	&::after {
		opacity: 1;
		margin-left: .3rem;
	}
}

// Checked styles

.question-slides__single__radio:checked + label {
	opacity: .5;

	&::after {
		opacity: 1;
	}
}