.estimate-table-scroll {
	overflow-y: auto;
	margin: 1rem 0;
	max-height: 40vh;
}

.estimate-table {
	font-size: .33rem;
	border-spacing: 0;
	//border-color: $color-brand;

	@media only screen and (max-width: 767px) {
		display: none;
	}

	thead {
		font-weight: 800;
	}

	td {
		padding: .1rem .2rem;
		text-align: center;
	}
}