@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vsge5z');
  src:  url('fonts/icomoon.eot?vsge5z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vsge5z') format('truetype'),
    url('fonts/icomoon.woff?vsge5z') format('woff'),
    url('fonts/icomoon.svg?vsge5z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-odnoklassniki:before {
  content: "\e901";
}
.icon-present:before {
  content: "\e900";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-mail:before {
  content: "\e159";
}
.icon-download:before {
  content: "\e884";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-buy:before {
  content: "\e8cb";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
