// Footer styles --------------------------------

footer {
	position: fixed;
	@include indentation(left);
	@include indentation(right);
	@include indentation(bottom);
	z-index: 500;
}

// Contact and share button ---------------------

.footer__contact-button,
.footer__share-button {
	position: fixed;
}

.footer__contact-button {
	left: 0;
	bottom: 0;
}

.footer__share-button {
	right: 0;

	@media only screen and (max-width: 1200px) {
		top: 0;
	}

	@media only screen and (min-width: 1201px) {
		bottom: 0;
	}
}

// Prev button ----------------------------------

.footer__prev-button {
	position: absolute;
	@include align(l,b);
}

// Pages status ----------------------------------

.footer__pages-status {
	position: absolute;
	@include align(c,b);

	@media only screen and (max-width: 1200px) {
		left: 25%;
		transform: none;
	}

	@media only screen and (max-width: 450px) {
		display: none;
	}
}

// Discount status ------------------------------

.footer__discount {
	width: 41.66%;
	position: fixed;
	@include align(r,b);

	@media only screen and (max-width: 1200px) {
		width: 58.66%;
	}

	@media only screen and (max-width: 450px) {
		padding-left: 1rem;
		padding-left: 1rem;
		width: 66.66%;
	}

	&__info {
		@media only screen and (max-width: 450px) {
			width: 100%;
			text-align: right;
		}
	}
}