.header {
	pointer-events: none;
	position: fixed;
	width: 100%;
	@include align(l,t);
	z-index: 1000;

	&__logo {
		position: absolute;
		@include align(l,t);
		@include indentation(top);
		@include indentation(left);
	}
}