.video {
	position: fixed;
	z-index: 750;
	height: 66%;
	width: 50%;
	@include align(r,c);

	@media only screen and (max-width: 450px) {
		display: none;
	}

	@media only screen and (min-width: 451px) and (max-width: 1200px) {
		width: 42.33%;
	}
}

.question-slider {
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
	}

	&__form {
		position: relative;
		z-index: 10;
		height: 100%;
		width: 66.66%;

		@media only screen and (max-width: 450px) {
			width: 100%;
		}
	}
}

.question-slides {
	width: 100%;
	height: 100%;

	&__single {
		height: 100%;
		width: 100%;

		.container {
			position: absolute;
			top: 50%;
			left: 12.5%;
			width: 50%;
			transform: translateY(-50%);

			@media only screen and (max-width: 450px) {
				width: 75%;
			}

			@media only screen and (min-width: 451px) and (max-width: 1200px) {
				width: 66.66%;
			}
		}

		&__title {
			margin-bottom: 1rem;
		}

		&.header {
			.question-slides__single__button {
				margin-top: 1.5rem;
			}

			.question-slides__single__title {
				margin-top: 0rem;
			}
		}

		&.question {
			.container {
				@media only screen and (max-width: 450px) {
					transform: translateY(-66%);
				}
			}

			&.room-count {
				@media only screen and (max-width: 450px){
					.question-slides__single__radio + label {
						display: inline;
					}
				}
			}
		}
	}
}

// Question slider input styles

.question-slides__single__input {
	width: 50%;

	@media only screen and (max-width: 450px){
		width: 66.66%;
	}
}

// Foreman slider styles

.foreman-slider {
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	width: 33.33%;

	@media only screen and (max-width: 450px) {
		display: none;
	}

	img {
		transform: translate(50%, -25%);
		height: 50%;

		@media only screen and (min-width: 768px) and (max-width: 1200px) {
			height: 33.33%;
			transform: translate(50%, 0%);
		}
	}
}