// Gilroy Light

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/fonts/GilroyLight.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

// Gilroy Extra Bold

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/fonts/GilroyExtraBold.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
}